.containerMainCardCatalogue {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  align-items: center;
  height: 100vh;
  background-image: url("../../../images/addcart.png") ;
  background-size: cover;
  background-position: center;
}

@media screen and (width < 800px) {
  .containerMainCardCatalogue{
    flex-direction: column;
    height: 145vh;
  }
}