.containerCardLogin{
  display: flex;
  width: 80%;
  border-radius: 15px;
  text-align: center;
}
@media screen and (width < 700px) {
  .containerCardLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.containerLoginText{
  width: 50%;
  background-image: url("../../../images/bg-car.jpg");
  background-position: center;
  background-size: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
@media screen and (width < 700px) {
  .containerLoginText{
    display: none;
  }
}

.containerLoginInputs{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #864BFA;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@media screen and (width < 700px) {
  .containerLoginInputs{
    width: 100%;
    border-radius: 15px;
  }
}

.containerSecondLoginInputs{
  width: 70%;
}

.logoAuta{
  width: 40%;
  height: auto;
  margin: 15% 0px 15% 0px;
}

.inputsLogin{
  margin: 15px 0px 15px 0px;
}

.errorLogin{
  color: #F65D33;
  font-weight: bold;
}

.buttonSignIn{
  margin: 15px 0px 10px 0px;
  /* width: 80%; */
}

.textOptionO{
  color: white;
  font-weight: bold;
}

.buttonSignInGoogle{
  margin: 10px 0px 15px 0px;
  /* width: 80%; */
}

.textRegister{
  color: white;
  font-weight: lighter;
  font-size: 17px;
}

.redirectRegister{
  font-weight: bold;
  color: #0cb7f2;
  /* color: #FFFD00; */
  /* color: #a9e9a4; */
  text-decoration: none;
}
.redirectRegister:hover{
  text-decoration: underline;
}