.containerCardRegister{
  display: flex;
  width: 70%;
  height: 70%;
  text-align: center;
  box-shadow: 5px 10px 8px 2px rgba(62, 62, 62, 0.3);
}
@media screen and (width < 700px) {
  .containerCardRegister{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.containerRegisterText{
  width: 45%;
  background-image: url("../../../images/bgregister3.png");
  background-position: center;
  background-size: cover;
}
@media screen and (width < 700px) {
  .containerRegisterText{
    display: none;
  }
}

.containerRegisterInputs{
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  background-color: #864BFA;
  padding: 2% 5% 2% 5%;
  border-radius: 10px;
}
@media screen and (width < 700px) {
  .containerRegisterInputs{
    width: 100%;
    border-radius: 15px;
  }
}

.textWelcome{
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.logoAuta{
  width: 30%;
  height: auto;
  margin: 3% 0px 10% 0px;
}

.formRegister{
  width: 100%;
}

.completeName {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.completeName > * {
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .completeName > * {
    flex: 1 1 100%;
  }
}

.errorRegister{
  color: #F65D33;
  font-weight: bold;
}

.buttonRegister{
  margin: 5% 0px 1% 0px;
}

.textLogin{
  color: white;
  font-weight: lighter;
  font-size: 17px;
  margin-top: 5%;
}

.redirectLogin{
  font-weight: bold;
  color: #0cb7f2;
  text-decoration: none;
}
.redirectLogin:hover{
  text-decoration: underline;
}